.auth-page{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.auth-form-container{
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.auth-as-container{
    height: fit-content;
    display: flex;
}
.userType{
    width: 100px;
    font-size: 20px;
    font-weight: 550;
    text-align: center;
    border: 1px solid #000 ;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
}
.auth-as-selected{
    width: 100px;
    font-size: 20px;
    font-weight: 550;
    text-align: center;
    border: 1px solid #000 ;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: aliceblue ;
}
.auth-input-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.auth-input{
    width: 300px;
    height: 25px;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    padding: 7px;
}
.auth-button{
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 4px;
    background-color: rgb(6, 196, 133);
    color: aliceblue;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.auth-text{
    font-size: 12px;
    color: #000;
    font-weight: 600;
}
.auth-text span{
    color: rgb(62, 62, 250);
    cursor: pointer;
}
.auth-page-image{
    height: 300px;
    width: 300px;
    background-color: green;
    border-radius: 7px;
}